.App{
    height:100%;
    width:100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.git{
    position: absolute;
    top:0;
    right:0;
    margin: 5px;
    cursor: pointer;
}

a {
    all: unset;
}
